.addStory {
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Прозрачность 70% черного цвета */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    .storyWindow {
        height: 40%;
        width: 25%;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input[type=file]::file-selector-button {
            margin-right: 20px;
            border: none;
            background: #084cdf;
            padding: 10px 20px;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            transition: background .2s ease-in-out;
          }
          
          input[type=file]::file-selector-button:hover {
            background: #0d45a5;
          }
          button {
            margin: 15px;
            margin-right: 20px;
            border: none;
            background: #084cdf;
            padding: 10px 20px;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            transition: background .2s ease-in-out;
          }
    }
}